/*Default styles*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --primary-color: rgb(80, 2, 76);
  --secondary-color: rgb(255, 236, 195);
  --primary-height: 15vh;
}
/*
Relevance:
  1) Browser styles at the beginning
  2) .css
  3) !important
Specificity:
  1,0,0,0,0  !important
  0,1,0,0,0  Inline styles
  0,0,1,0,0  #ID
  0,0,0,1,0  Class
  0,0,0,0,1  Tag
Combinators:
  h2 + p -> All p close an h2 adjacent sibling
  h2 ~ p -> All p close an h2 general sibling
  h2 > p -> Direct children of h2 and that are p
  h2 p -> Like > but not only direct, it applies for all children
*/

/*Custom styles*/
html{
  font-size: 62.5%;
}
html{
  font-size: 1.6rem;
}
header{
  height: var(--primary-height);
  width: 100vw;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
main {
  color: var(--secondary-color);
  width: 100vw;
  height: 70vh;
  background-color: black;
}
h1{
  font-size: 4rem;
}
footer{
  height: var(--primary-height);
  width: 100vw;
  background-color: rgb(80, 2, 76);
}
