/*Default styles*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*
Relevance:
  1) Browser styles at the beginning
  2) .css
  3) !important
Specificity:
  1,0,0,0,0  !important
  0,1,0,0,0  Inline styles
  0,0,1,0,0  #ID
  0,0,0,1,0  Class
  0,0,0,0,1  Tag
Combinators:
  h2 + p -> All p close an h2 adjacent sibling
  h2 ~ p -> All p close an h2 general sibling
  h2 > p -> Direct children of h2 and that are p
  h2 p -> Like > but not only direct, it applies for all children
*/

/*Custom styles*/
html{
  font-size: 62.5%;
}
html{
  font-size: 1.6rem;
}
body {
  color: rgb(255, 236, 195);
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.container{
  border:rgb(255, 236, 195) 0.3rem solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 50vh;
  align-items: center;
}
.box{
  width: 5rem;
  height: 5rem;
}
.box1{
  background-color: steelblue;
  order: 1
}
.box2{
  background-color: midnightblue;
  order: 4;
  flex-basis: 7rem;
}
.box3{
  background-color: rgb(82, 4, 78);
  order: 6;
  flex-grow: 2;
}
.box4{
  background-color: darkblue;
  order:2;
}
.box5{
  background-color: darkgreen;
  order: 5;
}
.box6{
  background-color: indigo;
  flex-grow: 1;
}
